@import '../../scss/components/variables';

.container {
  position: relative;
}

.input {
  border-radius: 0;
  border: solid 1px $gray-2;
  padding: 5px 30px 5px 5px;
  width: 100%;
}

.search_icon {
  position: absolute;
  width: 24px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}